/*
* macOS / OS X El Capitan Shell theme (spinoff from the Windows 10 SHELL theme)
*
* Author : Christian Medel (Elbullazul)
*
* More info : b00merang.weebly.com/macos-sierra.html
*
* Layout and code style adapted from the Paper theme & Flat Remix theme.
*
* This program is free software; you can redistribute it and/or modify it
* under the terms and conditions of the GNU General Public License,
* version 3, as published by the Free Software Foundation.
*
* This program is distributed in the hope it will be useful, but WITHOUT ANY
* WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE.	See the GNU Lesser General Public License for
* more details.
*/
stage {
	font-family: Source Sans Pro, Cantarell, Sans-Serif;
	font-size: 11pt;
	color: #f1f1f1; }

/* WIDGETS */

/* Buttons */
.button {
	border-radius: 0px;
	border: solid 1px #f1f1f1;
	margin-top: 0.5em;
	padding: 4px 32px;
	color: #f1f1f1;
	font-weight: normal;
	background-color: rgba(20,20,20,0.95);
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(205,205,205,1);
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none; }
	.button:hover, .button:focus {
		color: #f1f1f1;
		border: solid 1px #f1f1f1;
		background-color: #1f1f1f;
		background-gradient-direction: vertical;
		background-gradient-start: rgba(255,255,255,1);
		background-gradient-end: rgba(230,230,230,1);
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }
	.button:insensitive {
		color: gray;
		border: solid 1px black;
		background-color: rgba(180,180,180,1);
		background-gradient-direction: none;
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }
	.button:active {
		color: white;
		border: solid 1px #f1f1f1;
		background-color: rgba(0,0,0,0.95);
		background-gradient-direction: vertical;
		background-gradient-start: shade(rgba(28,122,236,1), 1.0);
		background-gradient-end: shade(rgba(28,122,236,1), 0.9);
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }

/* Entries */
StEntry {
	border-radius: 4px;
	padding: 4px;
	border-width: 0;
	color: #f1f1f1;
	background-color: #1f1f1f;
	background-gradient-direction: none;
	border-color: none;
	box-shadow: solid 2px gray;
	selection-background-color:#ffffff;
	selected-color: black; }
	StEntry:focus {
		background-color: #fff;
		color: #f1f1f1;
		box-shadow: none;
		border-color: #f1f1f1; }
	StEntry:insensitive {
		color: #f1f1f1;
		border-color: #f1f1f1;
		box-shadow: none; }
	StEntry StIcon.capslock-warning {
		icon-size: 16px;
		warning-color: #ef1f1f;
		padding: 0 4px; }

/* Scrollbars */
StScrollView.vfade {
	-st-vfade-offset: 68px; }
StScrollView.hfade {
	-st-hfade-offset: 68px; }

StScrollBar {
	padding: 0; }
	StScrollView StScrollBar {
		min-width: 12px;
		min-height: 12px; }
	StScrollBar StBin#trough {
		border-radius: 0;
		background-color: transparent; }
	StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
		border-radius: 0px;
		background-color: #e4e4e4;
		margin: 3px; }
		StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
			background-color: #e4e4e4; }
		StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
			background-color:#e4e4e4; }

/* Slider */
.slider {
	color: white;
	height: 1.09em;
	-slider-height: 3px;
	-slider-background-color: #939393;
	-slider-border-color: #adadad;
	-slider-active-background-color:#c6c6c6;
	-slider-active-border-color:#c6c6c6;
	-slider-border-width: 0px;
	-slider-handle-radius: 6px;
}

/* Check Boxes */
.check-box StBoxLayout {
	spacing: .8em; }
.check-box StBin {
	width: 24px;
	height: 22px;
	background-image: url("assets/checkbox-off.svg"); }
.check-box:focus StBin {
	background-image: url("assets/checkbox-off-focused.svg"); }
.check-box:checked StBin {
	background-image: url("assets/checkbox.svg"); }
.check-box:focus:checked StBin {
	background-image: url("assets/checkbox-focused.svg"); }

/* Switches */
.toggle-switch {
	width: 72px;
	height: 21px;
	background-size: contain; }
	.toggle-switch-intl, .toggle-switch-us {
		background-image: url("assets/off.png"); }
	.toggle-switch-intl:checked, .toggle-switch-us:checked {
		background-image: url("assets/on.png"); }

/* links */
.shell-link {
	color:#fc6f5d; }
	.shell-link:hover {
		color: #fc6f5d; }

/* Modal Dialogs */
.headline {
	font-size: 110%; }

.lightbox {
	background-color: rgba(25,25,25,0.75); }

.flashspot {
	background-color: rgba(25,25,25,0.75); }

.modal-dialog {
	border-radius: 0px;
	color: white;
	background-color: rgba(25,25,25,0.75);
	border: none;
	box-shadow: 0 5px 10px 0 rgba(25,25,25,0.5);
	padding: 24px; }
	.modal-dialog .run-dialog-entry {
		width: 20em;
		background-color: rgba(20,20,20,1);
		background-gradient-direction: none;
		box-shadow: solid 2px gray;
		border: none;
		color: #f1f1f1;
		border-radius: 6px;
		margin-bottom: 6px; }
	.modal-dialog .run-dialog-error-box {
		padding-top: 16px;
		spacing: 6px; }
	.modal-dialog .run-dialog-button-box {
		padding-top: 1em; }
	.modal-dialog .run-dialog-label {
		font-size: 12pt;
		font-weight: normal;
		color: white;
		padding-bottom: .4em; }

.button-dialog-button-box {
	spacing: 18px;
	padding-top: 48px; }

.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
	font-size: 14pt; }

/* End Session Dialog */
.end-session-dialog {
	spacing: 42px;
	border-radius: 6px;
	border: none; }

.end-session-dialog-list {
	padding-top: 20px; }

.end-session-dialog-layout {
	padding-left: 17px; }
	.end-session-dialog-layout:rtl {
		padding-right: 17px; }

.end-session-dialog-description {
	width: 28em;
	padding-bottom: 10px; }
	.end-session-dialog-description:rtl {
		text-align: right; }

.end-session-dialog-warning {
	width: 28em;
	color: #eef215;
	padding-top: 6px; }
	.end-session-dialog-warning:rtl {
		text-align: right; }

.end-session-dialog-logout-icon {
	border-radius: 5px;
	width: 48px;
	height: 48px;
	background-size: contain; }

.end-session-dialog-shutdown-icon {
	color: #ef1f1f;
	width: 48px;
	height: 48px; }

.end-session-dialog-inhibitor-layout {
	spacing: 16px;
	max-height: 200px;
	padding-right: 65px;
	padding-left: 65px; }

.end-session-dialog-session-list,
.end-session-dialog-app-list {
	spacing: 1em; }

.end-session-dialog-list-header {
	font-weight: normal; }
	.end-session-dialog-list-header:rtl {
		text-align: right; }

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
	spacing: 1em; }

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
	font-weight: normal; }

.end-session-dialog-app-list-item-description {
	color: #f1f1f1;
	font-size: 10pt; }


/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
	icon-size: 48px; }

.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px; }

.show-processes-dialog-subject,
.mount-question-dialog-subject {
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px; }

.mount-question-dialog-subject {
	max-width: 500px; }

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px; }

.show-processes-dialog-description,
.mount-question-dialog-description {
	padding-left: 17px;
	width: 28em; }

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px; }

.show-processes-dialog-app-list {
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px; }

.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px; }

.show-processes-dialog-app-list-item {
	color: white; }
	.show-processes-dialog-app-list-item:hover {
		color: #f1f1f1; }
	.show-processes-dialog-app-list-item:ltr {
		padding-right: 1em; }
	.show-processes-dialog-app-list-item:rtl {
		padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px; }
.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px; }

.show-processes-dialog-app-list-item-name {
	font-size: 10pt; }

/* Password or Authentication Dialog */
.prompt-dialog {
	width: 500px;
	border-radius: 0px;
	border: none; }

.prompt-dialog-main-layout {
	spacing: 24px;
	padding: 10px; }

.prompt-dialog-message-layout {
	spacing: 16px; }

.prompt-dialog-headline {
	font-weight: normal;
	color: white; }

.prompt-dialog-description:rtl {
	text-align: right; }

.prompt-dialog-password-box {
	spacing: 1em;
	padding-bottom: 1em; }

.prompt-dialog-error-label {
	font-size: 10pt;
	color: #ef1f1f;
	padding-bottom: 8px; }

.prompt-dialog-info-label {
	font-size: 10pt;
	padding-bottom: 8px; }

.hidden {
	color: transparent; }

.prompt-dialog-null-label {
	font-size: 10pt;
	padding-bottom: 8px; }

/* Polkit Dialog */
.polkit-dialog-user-layout {
	padding-left: 10px;
	spacing: 10px; }
	.polkit-dialog-user-layout:rtl {
		padding-left: 0px;
		padding-right: 10px; }

.polkit-dialog-user-root-label {
	color: #cc0000; }

.polkit-dialog-user-icon {
	border-radius: 6px;
	background-size: contain;
	width: 48px;
	height: 48px; }

/* Network Agent Dialog */
.network-dialog-secret-table {
	spacing-rows: 15px;
	spacing-columns: 1em; }

.keyring-dialog-control-table {
	spacing-rows: 15px;
	spacing-columns: 1em; }

/* Popover Menus */
.popup-menu {
	border-radius: 0 4px 4px 0;
	color: white;
	min-width: 200px; }
	.popup-menu .popup-sub-menu {
		background-color: rgba(0,0,0,0.95);
		color: white;
		background-gradient-direction: none;
		border-width: 0px;
		box-shadow: none;}
	.popup-menu .popup-menu-content {
		padding: 1em 0em; }
	.popup-menu .popup-menu-item {
		spacing: 12px; }
		.popup-menu .popup-menu-item:ltr {
			padding: .4em 1.75em .4em 0em; }
		.popup-menu .popup-menu-item:rtl {
			padding: .4em 0em .4em 1.75em; }
		.popup-menu .popup-menu-item:checked {
			background-color: rgba(20,20,20,0.95);
			box-shadow: none;
			font-weight: normal; }
		.popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item:focus {
			background-color: #1c7aec;
			color: black }
		.popup-menu .popup-menu-item:active {
			background-color: #1c7aec;
			color: white; }
		.popup-menu .popup-menu-item:insensitive {
			color: #1f1f1f; }
	.popup-menu .active {
		background-color: #1c7aec; }
	.popup-menu .popup-inactive-menu-item {
		color: white; }
		.popup-menu .popup-inactive-menu-item:insensitive {
			color: rgba(0,0,0,0.2); }
	.popup-menu.panel-menu {
		-boxpointer-gap: 4px;
		margin-bottom: 1.75em; }

.popup-menu-ornament {
	text-align: right;
	width: 1em; }

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
/*	-arrow-border-radius: 0px 4px 4px 0px;
	-arrow-background-color: rgba(0,0,0,0.97);
	-arrow-border-width: 0;
	-arrow-base: 24px;
	-arrow-rise: 0px;
	box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.25);
	border-radius: 4px;*/
	background-color: rgba(0,0,0,0.95);
	-arrow-background-color: transparent;
	-arrow-border-width: 0px;
	-arrow-border-color: transparent;
	-arrow-rise: 0px;
	border: 0px rgba(90,105,111,0.5);
	box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.25);
	border-radius: 4px;
	margin-top: 0;
}

.popup-separator-menu-item {
	height: 1px;
	margin: 6px 46px;
	background-color: transparent;
	border-color: rgba(20,20,20,0.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-gradient-height: 0px;
	-gradient-start: rgba(255,255,255,0);
	-gradient-end: rgba(255,255,255,0);}

.background-menu {
	-boxpointer-gap: 4px;
	-arrow-rise: 0px;
	}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
	app menu inside the main app window itself rather than the top bar
*/

/* OSD */
.osd-window {
	text-align: center;
	font-weight: normal;
	spacing: 1em;
	margin: 32px;
	min-width: 64px;
	min-height: 64px; }
	.osd-window .osd-monitor-label {
		font-size: 3em; }
	.osd-window .level {
		height: 0.6em;
		border-radius: 0.3em;
		background-color: rgba(25,25,25,1.0);
		color: white; }

/* App Switcher (alt-tab) */
.switcher-popup {
	padding: 8px;
	spacing: 16px; }

.switcher-list-item-container {
	spacing: 8px; }

.switcher-list .item-box {
	padding: 8px;
	border-radius: 0; }

.switcher-list .item-box:outlined {
	padding: 6px;
	border: 0 solid rgba(25,25,25,0.7); }

.switcher-list .item-box:selected {
	border-radius: 4px;
	background-color: rgba(20,20,20,0.7);
	color: #f1f1f1; }

.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 4px; }

.switcher-list .thumbnail {
	width: 256px; }

.switcher-list .separator {
	width: 1px;
	background: rgba(255,255,255,0.4); }

.switcher-arrow {
	border-color: transparent;
	color: rgba(255,255,255,0.7); }

.switcher-arrow:highlighted {
	color: #232323
; }

.input-source-switcher-symbol {
	font-size: 34pt;
	width: 96px;
	height: 96px; }

/* Workspace Switcher */
.workspace-switcher-group {
	padding: 12px;}

.workspace-switcher {
	background: transparent;
	border: 1px;
	border-radius: 6px;
	padding: 0px;
	spacing: 12px; }

.ws-switcher-active-up, .ws-switcher-active-down {
	height: 50px;
	background-color:#1c7aec;
	color: white;
	background-size: 32px;
	border-radius: 6px; }

.ws-switcher-box {
	height: 50px;
	border: none;
	background-color: rgba(25,25,25,0.95);
	border-radius: 6px; }

/* Alt-tab shadow color*/
.osd-window,
.resize-popup,
.switcher-list, .workspace-switcher-container {
	color: #5c5c5c;
	background-color: rgba(20,20,20,0.6);
	border: none;
	border-radius: 6px;
	padding: 12px;
	box-shadow: 0 5px 10px 0 gray;
	border: none; }

/* Tiled window previews */
.tile-preview {
	background-color: rgba(40, 40, 40, 0.5);
	border: 1px solid #026ec4; }

.tile-preview-left.on-primary {
	border-radius: 0 0 0 0; }

.tile-preview-right.on-primary {
	border-radius: 0 0 0 0; }

.tile-preview-left.tile-preview-right.on-primary {
	border-radius: 0 0 0 0; }

/* TOP BAR */
#panel {
	font-weight: normal;
	color: white;
	height: 24px;
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
	text-shadow: none;
}
	#panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
		background-color: transparent; }
	#panel #panelLeft, #panel #panelCenter {
		spacing: 4px; }
	#panel .panel-corner {
		-panel-corner-radius: 0px;
		/*-panel-corner-background-color: #454d50;*/
		-panel-corner-background-color: rgba(0,0,0,0.75);
		-panel-corner-border-width: 2px;
		-panel-corner-border-color: transparent; }
		#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
			-panel-corner-border-color:#f1f1f1; }
		#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-cornerunlock-screen {
			-panel-corner-radius: 0;
			-panel-corner-background-color: transparent;
			-panel-corner-border-color: transparent; }
#panel .panel-button {
		-natural-hpadding: 12px;
		-minimum-hpadding: 6px;
		font-weight: normal;
		color: white;
		text-shadow:none;
		transition-duration: 100ms;
}
		#panel .panel-button .app-menu-icon {
			-st-icon-style: symbolic;
			margin-left: 4px;
			margin-right: 4px; }
		#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
			background-color: rgba(0,0,0,0.95);
			box-shadow: none;
			background-image: none;
			background-gradient-direction: vertical;
			background-gradient-start: rgba(80,80,80,0.8);
			background-gradient-end: rgba(100,100,100,1);
			color: white;
			text-shadow:none;
			icon-shadow:none; }
			#panel .panel-button:active > .system-status-icon, #panel .panel-button:overview > .system-status-icon, #panel .panel-button:focus > .system-status-icon, #panel .panel-button:checked > .system-status-icon {
				icon-shadow: black 0 2px 2px; }
		#panel .panel-button .system-status-icon {
			icon-size: 1.09em;
			padding: 0 5px; }
		.unlock-screen #panel .panel-button, .login-screen #panel .panel-button, .lock-screen #panel .panel-button {
			color: white; }
			.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active, .login-screen #panel .panel-button:focus, .login-screen #panel .panel-button:hover, .login-screen #panel .panel-button:active, .lock-screen #panel .panel-button:focus, .lock-screen #panel .panel-button:hover, .lock-screen #panel .panel-button:active {
				color: white; }
	#panel .panel-status-indicators-box,
	#panel .panel-status-menu-box {
		spacing: 2px; }
	#panel .screencast-indicator {
		color: #ef1f1f; }

#panelActivities * {
	border:none;
	background-image: url("assets/view-grid-symbolic.svg");
	background-size: 20px 20px;
	background-position: 0 0;
	margin: 0px;
	width: 20px;
	color: transparent;
}

.system-status-icon {
	icon-shadow: white 0 0 4px;
}
#calendarArea {
	padding: 0.75em 1.0em;
	color: gray;
}

.calendar {
	margin-bottom: 1em; }

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
	margin: 0 1.5em; }

.datemenu-calendar-column {
	spacing: 0.5em; }

.datemenu-displays-section {
	padding-bottom: 3em; }

.datemenu-today-button,
.world-clocks-button,
.message-list-section-title {
	border-radius: 4px;
	padding: .4em; }

.message-list-section-list:ltr {
	padding-left: .4em; }

.message-list-section-list:rtl {
	padding-right: .4em; }

/*notifications label hover*/
.datemenu-today-button:hover, .datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.message-list-section-title:hover,
.message-list-section-title:focus {
	background-image: none;
	background-gradient-direction: none;
	box-shadow: none;
	color: gray;
	border: none;
	background-color: rgba(160,160,160,0.2); }
.datemenu-today-button:active,
.world-clocks-button:active,
.message-list-section-title:active {
	background-image: none;
	background-gradient-direction: none;
	box-shadow: none;
	border: none;
	color: white;
	background-color:#1c7aec; }

.datemenu-today-button .date-label {
	font-size: 1.5em; }
/*popup-menu from clock*/
.world-clocks-header,
.message-list-section-title {
	color: gray;
	font-weight: normal; }

.world-clocks-grid {
	spacing-rows: 0.4em; }

.calendar-month-label {
	color: gray;
	font-weight: normal;
	padding: 8px 0; }

/* Calendar page (arrow) buttons */
.pager-button {
	color: gray;
	background-color: transparent;
	width: 32px;
	border-radius: 4px; }
	.pager-button:hover, .pager-button:focus {
		background-color: rgba(160,160,160,0.2); }
	.pager-button:active {
		background-color: rgba(28,122,236,0.5); }

.calendar-change-month-back {
	background-image: url("assets/calendar-arrow-left.svg"); }
	.calendar-change-month-back:rtl {
		background-image: url("assets/calendar-arrow-right.svg"); }

.calendar-change-month-forward {
	background-image: url("assets/calendar-arrow-right.svg"); }
	.calendar-change-month-forward:rtl {
		background-image: url("assets/calendar-arrow-left.svg"); }

.calendar-day-base {
	font-size: 80%;
	text-align: center;
	width: 2.4em;
	height: 2.4em;
	padding: 0.1em;
	margin: 2px;
	border-radius: 1.4em;
	border: none; }
	.calendar-day-base:hover, .calendar-day-base:focus {
		background-color: rgba(160,160,160,0.5); }
	.calendar-day-base:active {
		color: white;
		background-color:rgba(28,122,236,0.6);
		border-color: transparent; }
	.calendar-day-base.calendar-day-heading {
		color: gray;
		margin-top: 1em;
		font-size: 70%; }

.calendar-day {
	border-width: 0px; }

.calendar-day-top {
	border-top-width: 0px; }

.calendar-day-left {
	border-left-width: 0px; }

.calendar-nonwork-day {
	background-color: rgba(160,160,160,0.6);
	color: white; }

.calendar-today {
	background-image: none;
	text-shadow:none;
	font-weight: normal;
	background-color: rgba(159, 176, 185, 0.3);
	border: 0px solid rgba(0,0,0,0.2); }

.calendar-day-with-events {
	color: rgba(28,122,236,0.8);
	font-weight: normal; }

.calendar-other-month-day {
	color: rgba(160,160,160,0.4);
	opacity: 0.5; }

/* Message list */
.message-list {
	width: 420px; }

.message-list-sections {
	spacing: 1.5em; }

.message-list-section,
.message-list-section-list {
	spacing: 0.7em;}

.message-list-section-title-box {
	spacing: 0.4em; }

.message-list-section-close > StIcon {
	icon-size: 16px;
	padding: 1px;
	border-radius: 10px;
	color: white;
	background-color: rgba(160,160,160,0.6); }

/* FIXME: how do you do this in sass? */
.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
	background-color: rgba(160,160,160,0.6);
	color: #f1f1f1;}

/* Mensajes en pagina mes */
.message {
	background-color: transparent;
	margin: 4px;
	border-radius: 0px;}
	.message:hover, .message:focus {
		background-color: rgba(0,0,0,0.2);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
		margin: 4px;
		border-radius: 0px;
		transition-duration: 200ms; }
	.message:active {
		background-color: rgba(160,160,160,0.6);
		color: white;
		box-shadow: none;
		margin: 4px;
		border-radius: 0px; }

.message-icon-bin {
	padding: 8px 0px 8px 8px; }
	.message-icon-bin:rtl {
		padding: 8px 8px 8px 0px; }

.message-icon-bin > StIcon {
	icon-size: 48px; }

.message-secondary-bin {
	color: white;}

.message-secondary-bin > StIcon {
	icon-size: 16px; }

.message-title {
	font-weight: normal; }

.message-content {
	padding: 8px; }

.messages-indicator-highlight {
	-gradient-height: 0px;
	-gradient-start: rgba(255,255,255,0);
	-gradient-end: rgba(255,255,255,0);
}

.system-switch-user-submenu-icon {
	icon-size: 48px;
	border: none; }

#appMenu {
	spinner-image: none /*url("assets/process-working.svg")*/;
	spacing: 4px; }
	#appMenu .label-shadow {
		color: transparent; }

#appMenu * {
	icon-shadow: rgba(0,0,0,.3) 0 0 4px;
}

.aggregate-menu {
	width: 360px; }
	.aggregate-menu .popup-menu-icon {
		padding: 0 4px; }

/* system menu on panel... */
.system-menu-action {
	color: gray;
	border-radius: 32px;
	/* wish we could do 50% */
	padding: 13px;
	border: 1px solid rgba(0,0,0,0.2);
}
.system-menu-action:hover, .system-menu-action:focus {
	color: gray;
	background-color:rgba(28,122,236,0.6);
	border: none;
	padding: 14px;
}
.system-menu-action:active {
	background-color: rgba(0,0,0,0.3);
	color: gray;
}
.system-menu-action > StIcon {
	icon-size: 20px;
}

.ripple-box {
	width: 52px;
	height: 52px;
	background-image: url("assets/corner-ripple-ltr.png");
	background-size: contain; }

.ripple-box:rtl {
	background-image: url("assets/corner-ripple-rtl.png"); }

.popup-menu-arrow {
	width: 16px;
	height: 16px; }

.popup-menu-icon {
	icon-size: 1.09em;
}

.window-close, .notification-close {
	background-image: url("assets/close-window.svg");
	background-size: 32px;
	height: 32px;
	width: 32px; }

.window-close {
	-shell-close-overlap: 16px; }
	.window-close:rtl {
		-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5); }

.notification-close {
	-shell-close-overlap-x: 14px;
	-shell-close-overlap-y: -12px; }
	.notification-close:rtl {
		-shell-close-overlap-x: -14px; }

/* NETWORK DIALOGS */
.nm-dialog {
	max-height: 500px;
	min-height: 450px;
	min-width: 470px; }

.nm-dialog-content {
	spacing: 20px; }

.nm-dialog-header-hbox {
	spacing: 10px; }

.nm-dialog-airplane-box {
	spacing: 12px; }

.nm-dialog-airplane-headline {
	font-weight: normal;
	text-align: center; }

.nm-dialog-airplane-text {
	color: white; }

.nm-dialog-header-icon {
	icon-size: 32px; }

.nm-dialog-scroll-view {
	/*background-color: rgba(20,20,20,0.1);*/
	border: 1px solid rgba(255,255,255,0.2); }

.nm-dialog-header {
	font-weight: normal; }

.nm-dialog-item {
	font-size: 110%;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 12px;
	spacing: 20px; }

.nm-dialog-item:selected {
	background-color:#1c7aec;
	color: white; }

.nm-dialog-icons {
	spacing: .5em; }

.nm-dialog-icon {
	icon-size: 16px; }

.no-networks-label {
	color: rgba(160,160,160,0.8); }

.no-networks-box {
	spacing: 12px; }

/* OVERVIEW */
#overview {
	spacing: 24px; }

.overview-controls {
	padding-bottom: 32px; }

.window-picker {
	-horizontal-spacing: 32px;
	-vertical-spacing: 32px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 48px; }
	.window-picker.external-monitor {
		padding: 32px; }

.window-clone-border {
	border: 4px solid rgba(160,160,160,0.8);
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2); }

.window-caption {
	spacing: 25px;
	color: white;
	background-color: rgba(160,160,160,0.8);
	border-radius: 2px;
	padding: 4px 12px;
	-shell-caption-spacing: 12px; }
.window-caption:hover {
	background-color: #1c7aec;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.search-entry {
	width: 320px;
	border: solid 2px rgba(255,255,255,0.2);
	color: #e4e4e4;
	caret-color: gray;
	caret-size: 1px;
	background-color: rgba(20,20,20,0.1);
	background-gradient-direction: none;
	padding: 7px 9px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.4);
}
.search-entry:hover {
	background-color: rgba(20,20,20,0.2);
	border: solid 2px rgba(255,255,255,0.3);
	transition-duration: 200ms;
}
.search-entry:focus {
	background-color: rgba(20,20,20,0.75);
	color: #4d4d4d;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
	transition-duration: 200ms;
}
.search-entry .search-entry-icon {
	icon-size: 1em;
	padding: 0 4px;
	color: #e4e4e4;
}
.search-entry:hover .search-entry-icon {
	color: #e4e4e4;
}
.search-entry:focus .search-entry-icon {
	color: gray;
}

#searchResultsBin {
	max-width: 1000px; }

#searchResultsContent {
	padding-left: 20px;
	padding-right: 20px;
	spacing: 16px; }

.search-section {
	spacing: 16px; }

.search-section-content {
	spacing: 32px; }

.search-section-separator {
	-gradient-height: 1px;
	-gradient-start: rgba(255,255,255,0);
	-gradient-end: rgba(255,255,255,0.5);
	-margin-horizontal: 1.5em;
	height: 1px;}

.list-search-results {
	spacing: 3px; }

.search-section-separator {
	-gradient-height: 1px;
	-gradient-start: rgba(255,255,255,0.5);
	-gradient-end: rgba(255,255,255,0.6);
	-margin-horizontal: 1.5em;
	height: 1px; }

.list-search-result-content {
	spacing: 12px;
	padding: 12px; }

.list-search-result-title {
	font-size: 1.5em;
	color: white; }

.list-search-result-description {
	color: white; }

.search-provider-icon {
	padding: 15px; }

.search-provider-icon-more {
	width: 16px;
	height: 16px;
	background-image: url("assets/more-results.svg"); }

/* --------------------										-------------------- */
/* --------------------				DASHBOARD				-------------------- */
/* --------------------										-------------------- */
/* --------------------										-------------------- */

#dash {
	font-size: 20pt;
	background: rgba(160,160,160,0.7);
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(0,0,0,0.7);
	background-gradient-end: rgba(0,0,0,0.7);
	border-color: rgba(20,20,20,0.8);
	box-shadow: 0;
	padding: 0 0;
}

#dash .placeholder {
	background-image: url("assets/dash-placeholder.svg");
	background-size: contain;
	height: 64px;
}
#dash .empty-dash-drop-target {
	width: 24px;
	height: 24px;
}
#dash .overview-icon * {
	icon-shadow: 0 0 0 0px #222;
	color: white;
}
.dash-item-container > StWidget {
	padding: 2px 2px;
}

.dash-label {
	border-radius: 4px;
	padding: 4px 12px;
	color: white;
  background-color: rgba(220, 220, 220, 0.9);
  box-shadow: 0 0px 3px 0 rgba(25,25,25,0.5);
	text-align: center;
	-x-offset: 8px;
}

/* App Vault/Grid */
.icon-grid {
	spacing: 30px;
	-shell-grid-horizontal-item-size: 124px; /* Default 136*/
	-shell-grid-vertical-item-size: 124px;
}
.icon-grid .overview-icon {
	icon-size: 96px;
}

.app-display {
	spacing: 0px; }

.app-view-controls {
	padding-bottom: 32px;
}

.app-view-control {
	background-gradient-direction: none;
	background-color: rgba(60,60,60,0.85);
	padding: 4px 32px;
	border-width: 0px;
	color: white;
}
.app-view-control:hover {
	color: white;
	background-gradient-direction: none;
	background-color: rgba(60,60,60,0.9);
	border-color: rgba(160,160,0,0.7);
	border-width: 0px;
}
.app-view-control:checked {
	color: white;
	border-color: rgba(0,0,0,0);
	border-width: 0px;
	background-gradient-direction: none;
	background-color: rgba(160,160,160,0.8);
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
.app-view-control:first-child {
	background-gradient-direction: none;
	border-radius: 4px 0 0 4px;
}
.app-view-control:last-child {
	border-right-width: 0;
	background-gradient-direction: none;
	border-radius: 0 4px 4px 0;
}

.search-provider-icon:active, .search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
	background-color: rgba(28,122,236,0.95); }
.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
	background-color: rgba(28,122,236,1.0);
	background-gradient-direction: none;
	transition-duration: 200ms;
}


/* Menu de apps seleccionado */
.app-well-app:active .overview-icon, .app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
/* activities bottom-button selected-bg-color*/
	background: rgba(60,60,60,0.9);
	box-shadow: inset 0 -2px 0 transparent;
	border-radius: 4px;
}

.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
	background-color: transparent;
}

#dash .app-well-app .overview-icon {
	transition: width 2s;
	transition-duration: 1000ms;
}
/* Running App */
.app-well-app.running > .overview-icon {
	border-radius: 0;
	color:black;
	box-shadow: inset 0 -2px 0 0 transparent;
	background-image: none;
	background-gradient-direction: none;
}
/* Active App underline */
.app-well-app-running-dot {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: white;
	margin-bottom: 0px;
	margin-top: 6px;
}

.search-provider-icon,
.list-search-result, .app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
	color: white;
	border-radius: 0;
	padding: 6px;
	border: 1px solid transparent;
	transition-duration: 100ms;
	text-align: center;
}

.app-well-app.app-folder > .overview-icon {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px; }

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
	color: white;
	transition-duration: 100ms; }

.app-folder-popup {
	-arrow-border-radius: 8px;
	-arrow-background-color: rgba(0,0,0,0.73);
	-arrow-base: 24px;
	-arrow-rise: 0px; }

.app-folder-popup-bin {
	padding: 5px; }

.app-folder-icon {
	padding: 5px;
	spacing-rows: 5px;
	spacing-columns: 5px; }

.page-indicator {
	padding: 15px 20px; }
	.page-indicator .page-indicator-icon {
		width: 18px;
		height: 18px;
		background-image: url("assets/page-indicator-inactive.svg"); }
	.page-indicator:hover .page-indicator-icon {
		background-image: url("assets/page-indicator-hover.svg"); }
	.page-indicator:active .page-indicator-icon {
		background-image: url("assets/page-indicator-active.svg"); }
	.page-indicator:checked .page-indicator-icon, .page-indicator:checked:active {
		background-image: url("assets/page-indicator-checked.svg"); }

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
	padding: 10px 8px 5px 8px;
	spacing: 4px; }

.workspace-thumbnails {
	visible-width: 32px;
	spacing: 11px;
	padding: 8px;
	border-radius: 4px 0 0 4px;
	color: white;
	background-color: rgba(25,25,25,0.6);
	border: solid 1px #f1f1f1;
}
.workspace-thumbnails:rtl {
	border-radius: 0 0 0 0;
}

.workspace-thumbnail-indicator {
	border: 3px #1c7aec;
	border-radius: 1px;
	padding: 0px;
}

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout {
	padding: 0px 88px 10px 88px; }


.search-statustext, .no-frequent-applications-label {
	font-size: 2em;
	font-weight: normal;
	color: white; }

/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
	link-color:#fc6f5d; }

.notification-banner {
	font-size: 11pt;
	width: 34em;
	margin: 5px;
	border-radius: 4px;
	color: gray;
	background-color: rgba(20,20,20,0.75);
	border: none;
	border-width: 0px;
	box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.5); }
	.notification-banner:hover, .notification-banner:focus {
		margin: 5px;
		background-color: rgba(20,20,20,0.75);
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
		border-radius: 4px;
}
	.notification-banner .notification-icon {
		padding: 5px; }
	.notification-banner .notification-content {
		padding: 5px;
		spacing: 5px; }a
	.notification-banner .secondary-icon {
		icon-size: 1.09em; }
	.notification-banner .notification-actions {
		background-color: rgba(20,20,20,0.75);
		padding-top: 0px;
		spacing: 1px; }
	.notification-banner .notification-button {
		border: none;
		padding: 4px 4px 5px;
		color: gray;
		font-weight: normal;
		background-color: rgba(20,20,20,0.75);
		border-color: rgba(0,0,0,0.1);
		box-shadow: none;
		border-radius: 4px;
		text-shadow:none;}
		.notification-banner .notification-button:first-child {
			border-radius: 4px 4px 0 0; }
		.notification-banner .notification-button:not(:first-child):not(:last-child) {
			border-radius: 0px; }
		.notification-banner .notification-button:last-child {
			border-radius: 0 0 4px 4px; }
		.notification-banner .notification-button:hover, .notification-banner .notification-buttonfocus, .notification-banner .notification-button:focus {
			background-color: rgba(20,20,20,0.85);
			color: gray; }

.notification StEntry,
.notification-banner StEntry {
	border-radius: 4px;
	margin: 0px;
	padding: 10px 6px;
	border: solid 2px rgba(0,0,0,0.4);
	color: white;
	background-color: black;
	background-gradient-direction: none;
	box-shadow: none;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
	selection-background-color:#white;
	selected-color: black;}
	.notification StEntry:focus,
	.notification-banner StEntry:focus {
		background-color: black;
		color: white; }
	.notification StEntry:insensitive,
	.notification-banner StEntry:insensitive	{
		color: #787878;
		border-color: #323636;
		box-shadow: none; }
	.notification StEntry StIcon.capslock-warning,
	.notification-banner StEntry StIcon.capslock-warning	{
		icon-size: 16px;
		warning-color: #eef215;
		padding: 0 4px; }

.notification {
	font-size: 11pt;
	width: 34em;
	margin: 5px;
	border-radius: 0;
	color: white;
	background-color: rgba(40,40,40,0.4);
	border: none;
	border-width: 0px;
	spacing-rows: 4px;
	padding: 8px;
	spacing-columns: 10px; }

.notification-unexpanded {
	min-height: 48px;
	height: 48px; }

.notification-with-image {
	min-height: 159px; }

.notification-body {
	spacing: 5px; }

.notification-actions {
	paddinf-top: 18px;
	spacing: 6px; }

.summary-source-counter {
	font-size: 10pt;
	font-weight: normal;
	height: 1.6em;
	width: 1.6em;
	-shell-counter-overlap-x: 3px;
	-shell-counter-overlap-y: 3px;
	background-color:rgba(60,60,60,0.8);
	color: white;
	border: 2px solid #f1f1f1;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	border-radius: 0.9em; }

.notification-scrollview {
	max-height: 18em;
	-st-vfade-offset: 24px; }
	.notification-scrollview:ltr > StScrollBar {
		padding-left: 6px; }
	.notification-scrollview:rtl > StScrollBar {
		padding-right: 6px; }

.notification-button {
	height: 24px;
	padding: 4px 4px 5px;
	color: white;
	background-color: gray;
	text-shadow:none;
	border-radius: 0 0 0 0; }

.notification-icon-button {
	padding: 5px;
	height: 24px;
	width: 24px;
	border: none;
	border-top-width: 1px;
	color: white;
	background-color: gray;
	border-color: rgba(0,0,0,0.2);
	border-radius: 0 0 0 0;
	/*box-shadow: inset 0 1px rgba(255,255,255,0.1);*/
	box-shadow: none;
	text-shadow:none; }
	.notification-icon-button:hover {
		background-color: gray; }
	.notification-icon-button > StIcon {
		icon-size: 16px;
		width: 16px;
		height: 16px;
		padding: 2px; }

.secondary-icon {
	icon-size: 1.09em; }

.chat-body {
	spacing: 5px; }

.chat-response {
	margin: 5px; }

.chat-log-message {
	color: #f1f1f1; }

.chat-empty-line {
	font-size: 4px; }

.chat-received {
	padding-left: 4px; }
	.chat-received:rtl {
		padding-left: 0px;
		padding-right: 4px; }

.chat-sent {
	padding-left: 18pt;
	color: #6c6c6c; }
	.chat-sent:rtl {
		padding-left: 0;
		padding-right: 18pt; }

.chat-meta-message {
	padding-left: 4px;
	font-size: 9pt;
	font-weight: normal;
	color: #81817c; }
	.chat-meta-message:rtl {
		padding-left: 0;
		padding-right: 4px; }

.chat-notification-scrollview {
	max-height: 22em; }

.subscription-message {
	font-style: italic; }

.hotplug-transient-box {
	padding: 2px 12px 2px 12px; }

.hotplug-notification-item {
	border-radius: 0 0 2px 2px;
	background-color: rgba(60,60,60,0.9);
	border:none;
	text-shadow:none;
	text-align: center;
	color: white;
	padding: 2px 10px;
	background-image: none;
	background-gradient-direction: none; }
	.hotplug-notification-item:focus {
		color: white;
		padding: 2px 10px; }
	.hotplug-notification-item:hover {
		background-color: rgba(60,60,60,0.95);
		color: #8c8c8c; }
	.hotplug-notification-item:active {
		background-color: rgba(60,60,60,0.95);
		color: white; }

.hotplug-notification-item-icon {
	-st-icon-style: symbolic;
	icon-size: 16px;
	padding: 8px 8px 8px 2px; }

.hotplug-resident-box {
	spacing: 0px; }

.hotplug-resident-mount {
	spacing: 12px;
	border-radius: 0 0 2px 2px; }
	.hotplug-resident-mount:hover {
		background-color: rgba(60,60,60,0.9);
		color: white; }

.hotplug-resident-mount-label {
	text-shadow:none;
	color: inherit;
	padding-left: 12px; }

.hotplug-resident-mount-icon {
	icon-size: 24px;
	padding-left: 6px; }

.hotplug-resident-eject-icon {
	icon-size: 16px; }

.hotplug-resident-eject-button {
	padding: 7px;
	border-radius: 5px;
	color: pink; }

/* Eeeky things */
.legacy-tray {
	background-color: rgba(60,60,60,0.95);
	border: 1px solid rgba(0,0,0,0.7);
	border-bottom-width: 0;
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2); }
	.legacy-tray:ltr {
		border-radius: 0 0px 0 0;
		border-left-width: 0; }
	.legacy-tray:rtl {
		border-radius: 0px 0 0 0;
		border-right-width: 0; }


.legacy-tray-handle,
.legacy-tray-icon {
	padding: 6px; }
	.legacy-tray-handle StIcon,
	.legacy-tray-icon StIcon {
		icon-size: 16px; }
	.legacy-tray-handle:hover, .legacy-tray-handle:focus,
	.legacy-tray-icon:hover,
	.legacy-tray-icon:focus {
		background-color: rgba(60,60,60,0.95); }

.legacy-tray-icon-box {
	spacing: 12px; }
	.legacy-tray-icon-box:ltr {
		padding-left: 12px; }
	.legacy-tray-icon-box:rtl {
		padding-right: 12px; }
	.legacy-tray-icon-box StButton {
		width: 24px;
		height: 24px; }

.magnifier-zoom-region {
	border: 2px solid #f1f1f1; }
	.magnifier-zoom-region.full-screen {
		border-width: 0; }

/* On-screen Keyboard */
#keyboard {
	background-color: rgba(60,60,60,0.95); }

.keyboard-layout {
	spacing: 10px;
	padding: 10px; }

.keyboard-row {
	spacing: 15px; }

.keyboard-key {
	color: #white;
	background-color: gray;
	box-shadow: inset 0 1px #f1f1f1;
	text-shadow: 0 1px white;
	icon-shadow: 0 1px white;
	min-height: 2em;
	min-width: 2em;
	font-size: 14pt;
	font-weight: normal;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.7);
	color: white; }
	.keyboard-key:focus {
		color: #dbdee0;
		border-color:#26bcc2;
		box-shadow: inset 0 1px #f1f1f1;
		text-shadow: 0 1px white;
		icon-shadow: 0 1px white; }
	.keyboard-key:hover, .keyboard-key:checked {
		color: white;
		border-color: rgba(0,0,0,0.7);
		background-color: rgba(60,60,60,0.5);
		box-shadow: inset 0 1px #f1f1f1;
		text-shadow: 0 1px white;
		icon-shadow: 0 1px white; }
	.keyboard-key:active {
		color: white;
		border-color: rgba(0,0,0,0.7);
		background-color: black;
		box-shadow: none;
		text-shadow: none;
		icon-shadow: none; }
	.keyboard-key:grayed {
		background-color: #1f1f1f;
		color: #8c8c8c;
		border-color: rgba(0,0,0,0.7); }

.keyboard-subkeys {
	color: white;
	padding: 5px;
	-arrow-border-radius: 10px;
	-arrow-background-color: rgba(0,0,0,0.7);
	-arrow-border-width: 2px;
	-arrow-border-color: rgba(0,0,0,0.65);
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 5px; }

.candidate-popup-content {
	padding: 0.5em;
	spacing: 0.3em; }

.candidate-index {
	padding: 0 0.5em 0 0;
	color: #dbdee0; }

.candidate-box {
	padding: 0.3em 0.5em 0.3em 0.5em;
	border-radius: 4px; }
	.candidate-box:selected, .candidate-box:hover {
		background-color:rgb(60,60,60);
		color: white; }

.candidate-page-button-box {
	height: 2em; }
	.vertical .candidate-page-button-box {
		padding-top: 0.5em; }
	.horizontal .candidate-page-button-box {
		padding-left: 0.5em; }

.candidate-page-button {
	padding: 4px; }

.candidate-page-button-previous {
	border-radius: 4px 0px 0px 4px;
	border-right-width: 0; }

.candidate-page-button-next {
	border-radius: 0px 4px 4px 0px; }

.candidate-page-button-icon {
	icon-size: 1em; }

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
	background-size: contain;
	border: 1px solid rgba(0,0,0,0.7);
	border-radius: 3px; }
	.framed-user-icon:hover {
		border-color: #1f1f1f; }

.login-dialog-banner-view {
	padding-top: 24px;
	max-width: 23em; }

.login-dialog {
	border: none;
	background-color: transparent; }
	.login-dialog .modal-dialog-button-box {
		spacing: 3px; }
	.login-dialog .modal-dialog-button {
		padding: 3px 18px; }
		.login-dialog .modal-dialog-button:default {
			color: white;
			background-color: rgba(60,60,60,0.9);
			border-color: rgba(0,0,0,0.7);
			box-shadow: inset 0 1px #f1f1f1;
			text-shadow: none;
			icon-shadow: 0 1px white; }
			.login-dialog .modal-dialog-button:default:hover, .login-dialog .modal-dialog-button:default:focus {
				color: white;
				border-color: rgba(0,0,0,0.7);
				background-color: rgba(60,60,60,0.95);
				box-shadow: inset 0 1px #f1f1f1;
				text-shadow: 0 1px white;
				icon-shadow: 0 1px white; }
			.login-dialog .modal-dialog-button:default:active {
				color: white;
				border-color: rgba(0,0,0,0.7);
				background-color: rgba(40,40,40,0.95);
				box-shadow: none;
				text-shadow: none;
				icon-shadow: none; }
			.login-dialog .modal-dialog-button:default:insensitive {
				color: white;
				border-color: rgba(0,0,0,0.7);
				background-color: rgba(40,40,40,0.95);
				box-shadow: none;
				text-shadow: none;
				icon-shadow: none; }

.login-dialog-logo-bin {
	padding: 24px 0px; }

.login-dialog-banner {
	color: #dbdee0; }

.login-dialog-button-box {
	spacing: 5px; }

.login-dialog-message-warning {
	color: #eef215; }

.login-dialog-message-hint {
	padding-top: 0;
	padding-bottom: 20px; }

.login-dialog-user-selection-box {
	padding: 100px 0px; }
	.login-dialog-user-selection-box .login-dialog-not-listed-label {
		padding-left: 2px; }
		.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label, .login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
			color: #dbdee0; }

.login-dialog-not-listed-label {
	font-size: 90%;
	font-weight: normal;
	color: white;
	padding-top: 1em; }

.login-dialog-user-list-view {
	-st-vfade-offset: 1em; }

.login-dialog-user-list {
	spacing: 12px;
	padding: .2em;
	width: 23em; }
	.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
		background-color:rgba(60,60,60,0.95);
		color: white; }
	.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
		border-right: 2px solid #1f1f1f; }

.login-dialog-user-list-item {
	border-radius: 5px;
	padding: .2em;
	color: #a6a69b; }
	.login-dialog-user-list-item:ltr {
		padding-right: 1em; }
	.login-dialog-user-list-item:rtl {
		padding-left: 1em; }
	.login-dialog-user-list-item:hover {
		background-color:#1c7aec;
		color: white; }
	.login-dialog-user-list-item .login-dialog-timed-login-indicator {
		height: 2px;
		margin: 2px 0 0 0;
		background-color: transparent; }
	.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
		background-color: gray; }

.login-dialog-username,
.user-widget-label {
	color: #dbdee0;
	font-size: 120%;
	font-weight: normal;
	text-align: left;
	padding-left: 15px; }

.user-widget-label:ltr {
	padding-left: 18px; }
.user-widget-label:rtl {
	padding-right: 18px; }

.login-dialog-prompt-layout {
	padding-top: 24px;
	padding-bottom: 12px;
	spacing: 8px;
	width: 23em; }

.login-dialog-prompt-label {
	color: #bebeb6;
	font-size: 110%;
	padding-top: 1em; }

.login-dialog-session-list-button StIcon {
	icon-size: 1.25em; }

.login-dialog-session-list-button {
	color: #a6a69b; }
	.login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
		color: #dbdee0; }
	.login-dialog-session-list-button:active {
		color: white; }

.screen-shield-arrows {
	padding-bottom: 3em; }

.screen-shield-arrows Gjs_Arrow {
	color: white;
	width: 80px;
	height: 48px;
	-arrow-thickness: 12px;
	-arrow-shadow: 0 1px 1px rgba(0,0,0,0.4); }

.screen-shield-clock {
	color: white;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	font-weight: normal;
	text-align: center;
	padding-bottom: 1.5em; }

.screen-shield-clock-time {
	font-size: 72pt;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4); }

.screen-shield-clock-date {
	font-size: 28pt; }

.screen-shield-notifications-container {
	spacing: 6px;
	width: 30em;
	background-color: transparent;
	max-height: 500px; }
	.screen-shield-notifications-container .summary-notification-stack-scrollview {
		padding-top: 0;
		padding-bottom: 0; }
	.screen-shield-notifications-container .notification,
	.screen-shield-notifications-container .screen-shield-notification-source {
		padding: 12px 6px;
		border: 1px solid rgba(238, 238, 236, 0.5);
		background-color: rgba(60,60,60,0.95);
		color: white;
		border-radius: 0px; }
	.screen-shield-notifications-container .notification {
		margin-right: 15px; }

.screen-shield-notification-label {
	font-weight: normal;
	padding: 0px 0px 0px 12px; }
.screen-shield-notification-count-text {
	padding: 0px 0px 0px 12px; }

#panel.lock-screen {
	background-color: rgba(0,0,0,0.9); }

.screen-shield-background {
	background: gray;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4); }

#lockDialogGroup {
	background: #1f1f1f url("assets/noise-texture.png");
	background-repeat: repeat; }

#screenShieldNotifications StButton#vhandle, #screenShieldNotifications StButton#hhandle {
	background-color: rgba(255, 255, 255, 0.3); }
	#screenShieldNotifications StButton#vhandle:hover, #screenShieldNotifications StButton#vhandle:focus, #screenShieldNotifications StButton#hhandle:hover, #screenShieldNotifications StButton#hhandle:focus {
		background-color: rgba(255, 255, 255, 0.5); }
	#screenShieldNotifications StButton#vhandle:active, #screenShieldNotifications StButton#hhandle:active {
		background-color: rgba(255, 255, 255, 0.5); }

#LookingGlassDialog {
	background-color: rgba(60,60,60,0.95);
	spacing: 4px;
	padding: 4px;
	border: 1px solid rgba(0,0,0,0.7);
	border-top-width: 0px;
	border-radius: 0 0 0px 0px; }
	#LookingGlassDialog > #Toolbar {
		border: none;
		border-radius: 0px; }
	#LookingGlassDialog .labels {
		spacing: 4px; }
	#LookingGlassDialog .notebook-tab {
		-natural-hpadding: 12px;
		-minimum-hpadding: 6px;
		font-weight: normal;
		color: #ccc;
		transition-duration: 100ms;
		padding-left: .3em;
		padding-right: .3em; }
		#LookingGlassDialog .notebook-tab:hover {
			color: white;
			text-shadow: none; }
		#LookingGlassDialog .notebook-tab:selected {
			border-bottom-width: 2px;
			border-color:#026ec4;
			color: white;
			text-shadow: none; }
	#LookingGlassDialog StBoxLayout#EvalBox {
		padding: 4px;
		spacing: 4px; }
	#LookingGlassDialog StBoxLayout#ResultsArea {
		spacing: 4px; }

.lg-dialog StEntry {
	selection-background-color: #fff;
	selected-color: gray; }
.lg-dialog .shell-link {
	color: #fc6f5d; }
	.lg-dialog .shell-link:hover {
		color: #fc6f5d; }

.lg-completions-text {
	font-size: .9em;
	font-style: italic; }

.lg-obj-inspector-title {
	spacing: 4px; }

.lg-obj-inspector-button {
	border: none;
	padding: 4px;
	border-radius: 4px; }
	.lg-obj-inspector-button:hover {
		background: rgba(80,80,80,0.98);
		border: none; }

#lookingGlassExtensions {
	padding: 4px; }

.lg-extensions-list {
	padding: 4px;
	spacing: 8px; }

.lg-extension {
	border: none;
	background: #f1f1f1;
	border-radius: 2px;
	padding: 6px; }

.lg-extension-name {
	font-weight: normal; }

.lg-extension-meta {
	spacing: 6px; }

#LookingGlassPropertyInspector {
	border-radius: 2px;
	color: white;
	background-color: rgba(60,60,60,0.9);
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	padding: 8px;
	margin: 12px }


/********************
 * Legacy Overrides *
 ********************/

.candidate-page-button,
.modal-dialog-button {
	border-radius: 2px;
	border: none;
	background: rgba(60,60,60,0.95);
	margin-top: 0.5em;
	padding: 4px 32px;
	color: 	white;
	font-weight: normal;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;}

.modal-dialog-button:hover {
	color: #c2c2c2;}

.modal-dialog-button:focus {
	color: white;
}

.candidate-page-button:active,
.candidate-page-button:pressed,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
	color: white;
	border: none;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;}

.candidate-page-button:insensitive,
.modal-dialog-button:insensitive {
	color: rgba(255,255,255,0.95);
	border: none;
	background-color: rgba(60,60,60,0.9);
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;}

/* Menus */
.popup-submenu-menu-item:open {
	background-color: #026ec4;}

.popup-menu-item:active {
	background-color: #026ec4;}

.popup-menu-item:insensitive {
	color: #f1f1f1;}
